<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="../static/mom_day_fx.js"></script>
<script src="../static/jquery.fancybox.js"></script>
<link rel="stylesheet" type="text/css" href="../static/jquery.fancybox.css" media="screen" />
<!--
    $(".fancyboxLauncher").on("click", function () {
      $(".fancybox").eq(0).trigger("click");
      return false;
    });
-->
<script type="text/javascript">
$(function(){
 $("#slid").on("click", function(){
  $(".fancybox").eq(0).trigger("click");
  return false;
});

$(".fancybox")
   .attr('rel','gallery')
   .fancybox({
   padding:0
});
});


</script>
<script type="text/javascript">

$(function(){
 $("#vid").on("click", function(){
  $(".vidfancybox").eq(0).trigger("click");
  return false;
});

$(".vidfancybox")
   .fancybox({
   padding:0
});
});

</script>
</head>



<body>



  Mom's day stuffzzzz aughhhhhhhhhhhhhhhhhh
  <center>
      <img src="{{ url_for('static',filename='mom_flowers.jpg') }}" style="width:597px;height:719px;" alt="" usemap="#flowermap">
  </center>
<!--
  <a class="fancyboxLauncher" title="slides">
-->
<map name="flowermap" id="flowermap">
  <area shape="circle" coords="100,150,75" id="slid" href="#contentdiv">
  <area shape="circle" coords="250,200,100" id="vid" href="#videodiv">
  <area shape="circle" coords="385,100,60" onclick="Poem()">
  <area shape="circle" coords="460,235,85" onclick="Stories()">
</map>

<button type='button'>Click meh</button>

<div style="display: none;" id="contentdiv">
  <a class="fancybox" ><img src="./static/mom_pix/00.JPG" style="width:794px;height:446px;"  alt=""></a>
  <a class="fancybox" ><img src="./static/mom_pix/01.jpg" style="width:512px;height:768px;"  alt=""></a>
  <a class="fancybox" ><img src="./static/mom_pix/02.JPG" alt=""></a>
  <a class="fancybox" ><img src="./static/mom_pix/03.JPG" style="width:512px;height:683px;"  alt=""></a>
  <a class="fancybox" ><img src="./static/mom_pix/04.JPG" style="width:800px;height:600px;"  alt=""></a>
  <a class="fancybox" ><img src="./static/mom_pix/05.jpg" style="width:512px;height:678px;"  alt=""></a>
  <a class="fancybox"><img src="./static/mom_pix/06.JPG" style="width:794px;height:446px;"  alt=""></a>
  <a class="fancybox"><img src="./static/mom_pix/07.JPG" style="width:794px;height:446px;"  alt=""></a>
  <a class="fancybox"><img src="./static/mom_pix/08.JPG" style="width:794px;height:446px;"  alt=""></a>
  <a class="fancybox"><img src="./static/mom_pix/09.PNG" style="width:794px;height:446px;"  alt=""></a>
  <a class="fancybox"><img src="./static/mom_pix/10.JPG" style="width:794px;height:446px;"  alt=""></a>


</div>

<div style="display: none;" id="videodiv">
  <a class="vidfancybox"><iframe width="420" height="315"
			      src="https://www.youtube.com/watch?v=pv02gtOG2YA&feature=youtu.be">
</div>

</body>
